
<div class="page">
    <div class="container"> 
        
        <div class="header">
            <app-botao-tema class="botao_change_mode"></app-botao-tema>
            <img class="logo" [src]= "imgSrc" alt="Logo parceiro">   
            <h2>Registrar</h2>
        </div>
    <div class="inputs">
        
        <app-input #nomeInput placeholder="nome" class="name" (valueChanged)="onNomeValueChanged($event)"></app-input>       

        <app-input placeholder="email" class="email"></app-input>
        <app-input placeholder="senha" class="password"></app-input>
        <app-input placeholder="confirmar senha" class="confirm_password"></app-input>
        

    </div>
    <div class="footer"> 
        <app-botao class="botao_registrar" texto="Registrar"  ></app-botao>     
        <p class="rodape">Feito por Parceiro Soluções</p>      
        
    </div>
           
    </div>
        
</div>
