<app-modal-geral
    *ngIf="mostrarModal"
    [mensagem]="mensagemModal"
    (fecharModal)="handleFecharModal()">
</app-modal-geral>
<div class="pagina-home">
    <div class="container-home">
        <div class="header">
            <div class="botoes-header">
                <app-botao-tema></app-botao-tema>
                <app-botao-sair (click)="onLogout()"></app-botao-sair>
            </div>
        </div>
        <div class="titulo">Home</div>
        <app-botao
            width="100%"
            texto="Solicitar produtos"
            class="botao-solicitar-produtos"
            (click)="navegarRotaSolicitarProdutos()">
        </app-botao>
        <app-botao
            width="100%"
            texto="Devolver produtos"
            class="botao-devolver-produtos"
            (click)="navegarRotaDevolverProdutos()">
        </app-botao>
        <app-botao
            width="100%"
            texto="Notion"
            class="botao-notion"
            (click)="onNotion()">
        </app-botao>
        <div class="footer">
        </div>
    </div>
</div>