<div class="page">  
    
    <div class="container">       

        <div class="header">
            <app-logo-bf></app-logo-bf>
            <h2>Devolução de Produtos</h2>
            <app-botao-tema></app-botao-tema>
            <app-botao-home></app-botao-home>
        </div>

        <app-input-pesquisar></app-input-pesquisar>
        <app-input-pesquisar></app-input-pesquisar>
        <app-input-pesquisar></app-input-pesquisar>
    
        <div class="titulos">
            <h3>CÓD.SOLICITAÇÃO</h3>
            <h3>CÓD.PRODUTO</h3>
            <h3>PRODUTO</h3>
            <h3>QUANTIDADE</h3>
            <h3>UNI.MEDIDA</h3>
            <h3>CENTRO DE CUSTO</h3>
        </div>      
               
    </div>

</div>

