<div class="page">  
    
    <div class="container">       

        <div class="header">
            <app-logo-bf></app-logo-bf>
            <div class="titulo">Devolução de Produtos</div>
            <nav class="menu-header">
                <app-botao-tema></app-botao-tema>
                <app-botao-home></app-botao-home>
            </nav>
           
        </div>

        <div class="inputs">
            <app-input-pesquisar placeholder="pesquisar produto"></app-input-pesquisar>
            <app-input-pesquisar placeholder="dd/mm/aaaa"></app-input-pesquisar>
            <app-input-pesquisar placeholder="nome usuário"></app-input-pesquisar>

        </div>
        
    
        <div class="header-tabela">
            <div class="cod-solicitacao">CÓD.SOLICITAÇÃO</div>
            <div class="cod-produto">CÓD.PRODUTO</div>
            <div class="produto">PRODUTO</div>
            <div class="quantidade">QUANTIDADE</div>
            <div class="uni-medida">UNI.MEDIDA</div>
            <div class="centro-custo">CENTRO DE CUSTO</div>
        </div>  
        
        <div class="linha-tabela">
            <mat-checkbox class="checkbox"></mat-checkbox>
            <div>123456</div>
            <div>123456</div>
            <div>Lorem ipsum dolor</div>
            <div>Lorem ipsum dolor</div>
            <div>Lorem ipsum dolor</div>
            <div>Lorem ipsum dolor</div>
            
        </div>
        
               
    </div>

</div>

