*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--background-2);
    overflow-x: hidden;
    
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    padding-bottom: 120px;
    flex-grow: 1;
    overflow: hidden;
  

}


.header {
    /* grid-area: header; */
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
}

.titulo {
    font-size: 2.5rem;
    font-family: var(--font-semiBold);
    color: var(--cor-secundaria);
}

.menu-header {
    display: flex;
    gap: 28px;
    margin-right: 10px;
    
}

.inputs{
    padding-top: 5px;
    grid-area: inputs;
    display: flex;
    gap: 28px;
    margin-left: 50px;
    align-items: end;
    
}


.header-tabela,
.linha-tabela {
    color: var(--cor-cinza);
    background: var(--background);
    box-sizing: border-box; 
    margin-left: 50px;
    display: grid;
    grid-template-columns:      8% 15% 14% 20% 15% 15% 10%;
    grid-template-areas:        "checkbox cod-solicitacao cod-produto produto quantidade uni-medida centro-custo";
}

.header-tabela {
    margin-top: 16px;
    padding: 25px 15px; 
}

.linha-tabela{
    color: var(--cor-secundaria);
    margin-top: 2px;
    padding: 10px 15px 10px 15px;
    font-size: 1rem;
    
    
}

.checkbox,
.cod-solicitacao ,
.cod-produto,
.quantidade,
.uni-medida,
.centro-custo
{
    display: flex;
    justify-content: center;

}


.cod-solicitacao{
    grid-area: cod-solicitacao;   
}

.cod-produto{
    grid-area: cod-produto;
}

.produto{
    grid-area: produto;

}

.quantidade{
    grid-area: quantidade;
}

.uni-medida{
    grid-area: uni-medida;
}

.centro-custo{
    grid-area: centro-custo;
}


.div-botao{
    grid-area: div-botao;
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    background: var(--background);
    align-items: center;    
    height: 90px;
    position: fixed;
    bottom: 20px;
    right: 50px;
    left: 50px;
    width: auto;
    
}

.botao{
    grid-area: checkbox;
    margin-right: 24px;    
    
}

.codSolicitacao-linha-tabela,
.codProduto-linha-tabela,
.quantidade-linha-tabela,
.uniMedida-linha-tabela,
.centroCusto-linha-tabela
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-linha-tabela{
    display: flex;
    align-items: center;
    padding-left: 5px;
}



.tabela-scroll {
    overflow-y: auto; 
    max-height: calc(100vh - 250px);
    box-sizing: border-box; 
}


.header-tabela,
.tabela-scroll {
    margin-right: 50px; 
}

.checkbox{
    color: black;
}


