<div class="page">  
    <div class="header">
        <app-logo-bf></app-logo-bf>
        <div class="titulo">Devolução de Produtos</div>
        <nav class="menu-header">
            <app-botao-tema></app-botao-tema>
            <app-botao-home></app-botao-home>
        </nav>
       
    </div>
    
    <div class="container">       


        <div class="inputs">
            <app-input-pesquisar placeholder="pesquisar produto" width="320px" height="32px"></app-input-pesquisar>
            <app-input-pesquisar placeholder="dd/mm/aaaa" width="320px" height="32px"></app-input-pesquisar>
            <app-input-pesquisar placeholder="nome usuário" width="320px" height="32px"></app-input-pesquisar>

        </div>
        
    
        <div class="header-tabela">
            <div class="cod-solicitacao">CÓD.SOLICITAÇÃO</div>
            <div class="cod-produto">CÓD.PRODUTO</div>
            <div class="produto">PRODUTO</div>
            <div class="quantidade">QUANTIDADE</div>
            <div class="uni-medida">UNI.MEDIDA</div>
            <div class="centro-custo">CENTRO DE CUSTO</div>
        </div>  
        
        <div class="linha-tabela">
            <mat-checkbox class="checkbox"></mat-checkbox>
            <div>123456</div>
            <div>123456</div>
            <div>Lorem ipsum dolor</div>
            <div>Lorem ipsum dolor</div>
            <div>Lorem ipsum dolor</div>
            <div>Lorem ipsum dolor</div>
            
        </div>
        
        <div class="div-botao">
            <app-botao class="botao" texto="Continuar" width="183px" height="47px"></app-botao>
        </div>
               
    </div>

</div>

