*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--background-2);

    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    background: var(--background);

}


.container {
    flex-grow: 1; /* Faz o container ocupar o espaço restante */
    overflow-y: auto; /* Habilita a rolagem se o conteúdo exceder a altura */
}
