<!-- <router-outlet></router-outlet> -->
<div class="classe-main-teste" [style.background]="background">
    <!-- <app-input></app-input>
    <app-botao></app-botao>
    <app-botao-sair></app-botao-sair>
    <app-botao-editar></app-botao-editar>
    <app-botao-home></app-botao-home>
    <app-botao-remover></app-botao-remover>
    <app-botao-ajuda></app-botao-ajuda>
    <app-input-dropdown></app-input-dropdown>    
    <app-botao-tema></app-botao-tema> -->
    
    <app-registro></app-registro>
</div>
