<div class="background">
    <div class="modal-devolucao">
        <app-modal-geral
            *ngIf="modalService.mostrarModal$ | async"
            (fecharModal)="modalService.fecharModal()"
            [mensagem]="modalService.mensagemModal$ | async">
        </app-modal-geral>
        <div class="header">
            <div class="titulo">Produtos Para Devolução</div>
        </div>
        <div class="header-tabela">
            <div class="devolucao-completa">
                <div class="botao-ajuda">
                    <app-botao-ajuda></app-botao-ajuda>
                </div>
                <div class="texto-devolucao-completa">
                    DEVOLUÇÃO COMPLETA
                </div>
            </div>
            <div class="codigo-solicitacao">
                COD. SOLICITAÇÃO
            </div>
            <div class="codigo-produto">
                COD. PRODUTO
            </div>
            <div class="produto">
                PRODUTO
            </div>
            <div class="quantidade">
                QUANTIDADE
            </div>
            <div class="unidade-medida">
                UNI. MEDIDA
            </div>
            <div class="centro-custo">
                CENTRO DE CUSTO
            </div>
        </div>
        <div class="linha-tabela">
            <div class="devolucao-completa">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
            <div class="codigo-solicitacao">
                {{ codigoSolicitacao }}
            </div>
            <div class="codigo-produto">
                {{ codigoProduto }}
            </div>
            <div class="produto">
                {{ nomeProduto }}
            </div>
            <div class="quantidade">
                <app-input-contador
                    height="44px"
                    width="100%">
                </app-input-contador>
            </div>
            <div class="unidade-medida">
                {{ unidadeMedida }}
            </div>
            <div class="centro-custo">
                {{ centroCusto }}
            </div>
        </div>
    </div>
</div>