<div
    class="container-input-contador"
    #inputDropdownDiv
    [style.width]="width"
    [style.height]="height">
    <div class="container">
        <button
            id="botao-diminuir"
            (click)="onDiminuir()">
            <img
                [src]="imgSrc"
                alt="diminuir"
                id="img-diminuir">
        </button>
        <input
            type="text"
            class="input"
            [(ngModel)]="valor"
            [placeholder]="placeholder"
            (blur)="onInputBlur(inputDropdownDiv)"
            (focus)="onInputFocus(inputDropdownDiv)">
        <button
            id="botao-aumentar"
            (click)="onAumentar()">
            <img
                [src]="imgSrc"
                alt="aumentar"
                id="img-aumentar">
        </button>
    </div>
</div>