<div
    class="container-input-contador"
    #inputDropdownDiv
    [style.width]="width"
    [style.height]="height">
    <div class="container">
        <button
            id="botao-diminuir"
            (click)="onClick()">
            <img
                [src]="imgSrc"
                alt="Dropdown"
                id="img-diminuir">
        </button>
        <input
            type="text"
            class="input"
            [placeholder]="placeholder"
            [(ngModel)]="textoPesquisado"
            (blur)="onInputBlur(inputDropdownDiv)"
            (focus)="onInputFocus(inputDropdownDiv)"
            (ngModelChange)="filtrarItens()">
        <button
            id="botao-aumentar"
            (click)="onClick()">
            <img
                [src]="imgSrc"
                alt="Dropdown"
                id="img-aumentar">
        </button>
    </div>
</div>