<div class="header">
    <app-logo-bf></app-logo-bf>
    <div class="titulo">Solicitar Produto</div>
    <nav class="menu-header">
        <app-botao-tema></app-botao-tema>
        <app-botao-home></app-botao-home>
    </nav>
</div>
<div class="solicitar-produto-pagina">
    <div class="pesquisa">
        <div class="selecionar-produto">
            <label
                for="produto"
                class="titulo-label">
                Produto
                </label>
            <app-input-dropdown
                id="produto"
                width="100%"
                height="27px"
                [textoPesquisado]="nomeProdutoPesquisado"
                placeholder="produto"
                [itens]="nomeProdutoLista"
                (itemSelecionadoChange)="selecionarProduto($event)">
            </app-input-dropdown>
        </div>
        <div class="unidade-medida">
            <label
                for="unidade-medida"
                class="titulo-label">
                Unidade de medida
            </label>
            <app-input-dropdown
                id="unidade-medida"
                height="27px"
                width="100%"
                [itens]="unidadeMedidaLista"
                placeholder="unidade de medida"
                (itemSelecionadoChange)="selecionarUnidadeMedida($event)">
            </app-input-dropdown>
        </div>
        <div class="quantidade">
            <label
                for="quantidade"
                class="titulo-label">
                Quantidade
            </label>
            <app-input-contador
                id="quantidade"
                widht="100%"
                height="27px"
                (valorChange)="selecionarQuantidade($event)">
            </app-input-contador>
        </div>
        <div class="centro-custo">
            <label
                for="centro-custo"
                class="titulo-label">
                Centro de custo
            </label>
            <app-input-dropdown
                height="27px"
                width="100%"
                placeholder="centro de custo"
                [itens]="centroCustoLista"
                (itemSelecionadoChange)="selecionarCentroCusto($event)">
            </app-input-dropdown>
        </div>
        <app-botao
            class="botao-adicionar"
            height="29px"
            texto="Adicionar"
            width="100%"
            (click)="adicionarProduto()">
        </app-botao>
    </div>
    <div class="tabela">
        <div class="header-tabela">
            <div class="cod-produto-header">CÓDIGO PRODUTO</div>
            <div class="produto-header">PRODUTO</div>
            <div class="quantidade-header">QUANTIDADE</div>
            <div class="unidade-medida-header">UNI. MEDIDA</div>
            <div class="centro-custo-header">CENTRO DE CUSTO</div>
        </div>
        <div class="linha-tabela" *ngFor="let produto of produtosSelecionados">
            <nav class="menu-linha">
                <app-botao-remover
                    class="remvoer">
                </app-botao-remover>
                <app-botao-editar
                    class="editar">
                </app-botao-editar>
            </nav>
            <div class="cod-produto-linha">{{ produto.codigoProduto }}</div>
            <div class="nome-produto-linha">{{ produto.nomeProduto }}</div>
            <div class="quantidade-linha">{{ produto.quantidade }}</div>
            <div class="unidade-medida-linha">{{ produto.unidadeMedida }}</div>
            <div class="centro-custo-linha">{{ produto.centroCusto }}</div>
        </div>
    </div>
    <div class="footer">
        <div class="data">
            <label
                for="data"
                class="titulo-label">
                Data de entrega
            </label>
            <app-input
                id="data"
                type="date"
                width="25%"
                height="10px">
            </app-input>
        </div>
        <app-botao
            texto="Solicitar"
            [background]="corBotaoSolicitar"
            [backgroundHover]="corBotaoSolicitarHover"
            (click)="onSolicitar">
        </app-botao>
    </div>
</div>