body{
    margin: 0;
    height: 100%;
}

button{
    background: none;
    cursor: pointer;
}
:root{
    --background: #F9F9F9;
    --drop_shadow: rgba(25, 40, 71, 0.25); 
}

:root .dark-theme{
    --background: #141414;
    --drop_shadow:#000000;
}