

@font-face {
    font-family: 'Blinker-Black';
    src: url('assets/fonts/Blinker-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Bold';
    src: url('/assets/fonts/Blinker-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('assets/fonts/Blinker-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('assets/fonts/Blinker-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Light';
    src: url('assets/fonts/Blinker-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Regular';
    src: url('assets/fonts/Blinker-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-SemiBold';
    src: url('assets/fonts/Blinker-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Thin';
    src: url('assets/fonts/Blinker-Thin.ttf') format('truetype');

}





body{
    margin: 0;
    height: 100%;
    font-family: "Blinker-Regular";
    --cor-botao: #141414;
    --cor-botao-hover: #561111;
    --cor-texto-botao: #FFF;
    --botao-verde: #366731;
    --botao-verde-hover: #21512d;
    --botao-vermelho: #DB4242;
    --botao-vermelho-hover: #c73131;
    --cor-cinza: #878787;
}

button{
    background: none;
    cursor: pointer;
}
:root{
    --background: #F9F9F9;
    --background-2: #F0F0F0;
    --background-principal: #F9F9F9;
    --drop_shadow: rgba(25, 40, 71, 0.25);
    --font-regular: 'Blinker-Regular';
    --font-semiBold: 'Blinker-SemiBold';
    --font-bold: 'Blinker-Bold';
    --font-light: 'Blinker-Light';
    --font-thin: 'Blinker-Thin';
    --cor-primaria: #FFF;
    --cor-secundaria: #141414;
    --hover-dropdown: rgba(0, 0, 0, 0.05);
    --cor-terceira: #FFF;
    --box-shadow: 0 0 0 2px rgba(25, 25, 25, 0.80);
}

:root .dark-theme{
    --background: #262626;
    --background-2: #141414;
    --background-principal: #141414;
    --cor-terceira: #141414;
    --drop_shadow:#000000;
    --cor-primaria: #262626;
    --hover-dropdown: rgba(255, 255, 255, 0.05);
    --cor-secundaria: #FFF;
    --box-shadow: 0 0 0 2px #FFF;
    
}


html, body { height: 100%; font-size: 14px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
